<table class="heatmap-table">
	<tbody>
    {{#each sizeArray as |_ row|}}
    <tr>
      {{#each sizeArray as |_ column|}}<td data-row="{{row}}" data-column="{{column}}" >&nbsp;</td>{{/each}}
    </tr>
    {{/each}}
	</tbody>
</table>
