<div class="match-heatmap">
  <img class="heatmap-image" src="img/map.jpg">
  <div class="heatmap-grid" style="position: absolute; left: 0; top: 0;z-index:2;">
    {{heatmap-grid size=32 placeWard=placeWard}}
  </div>
</div>
